.Login {
    background: transparent;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: unset;
    min-width: 800px;
    min-height: 750px;
  }
  
  .Login button {
      border-radius: 25px !important;
      width: 120px;
  }
  
  
  .Login form {
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 10px;
      height: 100%;
  }
  

  
  .Login .container {
      background-color: #fff;
      border-radius: 3px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 70%;
      height: 60%;
      min-width: 700px;
      min-height: 600px;
      font-size: 24px;
  }
  
  .Login .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
  }
  
  .Login .sign-in-container {
      left: 0;
      width: 50%;
      z-index: 2;
  }
  
  .Login .container.right-panel-active .sign-in-container {
      transform: translateX(100%);
  }
  
  .Login .sign-up-container {
      left: 0;
      width: 50%;
      opacity: 0;
      z-index: 1;
  }
  
  .Login .container.right-panel-active .sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: show 0.6s;
  }
  
  @keyframes show {
      0%, 49.99% {
          opacity: 0;
          z-index: 1;
      }
      
      50%, 100% {
          opacity: 1;
          z-index: 5;
      }
  }
  
  .Login .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;
  }
  
  .Login .container.right-panel-active .overlay-container{
      transform: translateX(-100%);
  }
  
  .Login .overlay {
      background: #FF416C;
      background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
      background: linear-gradient(to right, #FF4B2B, #FF416C);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #FFFFFF;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
  }
  
  .Login .container.right-panel-active .overlay {
        transform: translateX(50%);
  }
  
  .Login .overlay-panel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;
      top: 0;
      height: 100%;
      width: 50%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
  }
  
  .Login .overlay-left {
      transform: translateX(-20%);
  }
  
  .Login .container.right-panel-active .overlay-left {
      transform: translateX(0);
  }
  
  .Login .overlay-right {
      right: 0;
      transform: translateX(0);
  }
  
  .Login .container.right-panel-active .overlay-right {
      transform: translateX(20%);
  }
  
  .Login .social-container {
      margin: 20px 0;
      text-align: center;
  }
  
  .Login .social-button{
      border: 1px solid #DDDDDD;
      background: white;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
      color: blue;
  }

  .Login .social-button:hover{
    border: 1px solid blue;
    cursor: pointer;
  }

  .Login .social-container button {
      border: 1px solid #DDDDDD;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
  }
  
  .Login a {
      color: rgb(71, 129, 255);
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
  }

  .Login a:hover{
    color: #FF4B2B;
  }

  .Login .mInput {
      width: 300px;
  }

  .Login .text-white {
      color: white !important;
  }

  .Login .forgetpass {
    background-color: #fff;
    border-radius: 3px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 60%;
    min-width: 400px;
    min-height: 600px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
  }