.Student {
    background: transparent;
    display: flex;
    align-items: center;
    margin: unset;
    min-width: 1000px;
    min-height: 700px;
    overflow: hidden;
  }
  
.Student .container {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: inherit;
    min-height: 100vh;
    min-width: 600px;
    font-size: 24px;
    margin: 0 100px;
}

.Student .post-container {
    background-color: white;
    margin: 10px 0px;
    padding: 20px;
    position: relative;
}

.Student .search-bar {
    margin: 20px 0px;
}

.Student .myDrawer {
    width: 500px;
}

.Student .hihi {
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
}

.Student .changeBG{
    background-color: #d2d2d2;
    cursor: pointer;
}

.Student .btn {
    z-index: 20;
}

.Detail-profile {
    width: 100%;
    height: 100%;
    background: white;
}

.Detail-profile .stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(233, 194, 65);
    border-radius: 10px;
    padding-bottom: 3px;

}

.mInputHourly {
    color: black;
}

.Student .dot
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
  
  