.chat{
    .ant-card-body {
        padding: 0;
    }
    .chat-line{
        padding: 10px 0 0 10px;
        width: 100%;
        height: 650px!important;
        line-height: 40px;
        overflow-y: scroll;
        div{
            margin-bottom: 6px;
        }
        .not-me{
            span{
                background-color: #E9EBEE;
                padding: 5px 12px;
                border-radius: 15px;
            }
        }
    
        .me{
            text-align: right;
            span{
                background-color: rgb(0, 153, 255);
                padding: 5px 12px;
                border-radius: 15px;
                color: white;
            }
        }
    }
}
