.avatar-uploader > .ant-upload {
    width: 150px;
    height: 150px;
  }
  .parent {
    display: flex;
  }
  .child {
    margin-left: auto;
    order: 2;
  }.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  