.home {
    background: white !important;
    width: 100%;
    height: 100%;
}

.home .mySlide {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    
}

.home .mPicture{
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.home .mText1 {
    color: white;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 1;
    font-size: 40px;
    font-family: monospace;
}

.home .mText2 {
    color: white;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 1;
    font-size: 40px;
    font-family: monospace;
}

.home .mText3 {
    color: white;
    position: absolute;
    left: 5%;
    bottom: 15%;
    z-index: 1;
    font-size: 40px;
    font-family: monospace;
}

.home .mText4 {
    color: white;
    position: absolute;
    right: 25%;
    top: 10%;
    z-index: 1;
    font-size: 40px;
    font-family: monospace;
}

.home .mCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}