.aboutus {
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.aboutus .mySlide {
    text-align: left;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.aboutus .mPicture{
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
}


.aboutus .mText1 {
    color: white;
    position: absolute;
    z-index: 10;
    font-size: 25px;
    font-family: monospace;
    overflow: hidden;
}
